{% extends "layout.html" %} {% block title %}
<title>Testing</title> {% endblock %} {% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: grey;">
    <a class="navbar-brand" href="/">VACA.com</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <button class="btn btn-primary" type="submit">Sign in</button>
        </ul>
    </div>
</nav>
{% endblock %} {% block main %}
<div id="about">
    About Us:
</div>
<div id="about_text">
    <p>Sometimes you just need to get away and go on vacation. Well we totally get it and that's why we designed Vaca.com! If you are looking to just get out and know what amount of money you are willing to spend, then Vaca.com is the perfect website.<br>        You just need to input your budget, starting location, and dates you wish to travel. You also get the option to give us a radius to search from and the rating you want the hotel to have.<br> If you have no preference, then our algorithm will search
        for locations within the U.S. and will not restrict any hotel options. Our website will display multiple options that fit the requirements. With each destination, you will also get information about the hotel, transportation, and attractions nearby.</p>
</div>
<div id="get_started">
    <a href="/"><button id ="btn"> Get Started! </button></a>
</div>
{% endblock %}