{% extends "layout.html" %} {% block title %}
<title>Testing</title> {% endblock %} {% block nav %}
<nav>
    <ul>
        <li>
            <a href="/"><img src="/static/vaca.jpg" height="70"></a>
        </li>
        <li style="float: right; margin-top: 20px"><a href="/about">About</a></li>
        <li style="float: right; margin-top: 20px;"><a href="/">Home</a></li>
    </ul>
</nav>
{% endblock %} {% block main %}
<div class="d-flex justify-content-center">
    <div class="loading" id="loading"></div>
</div>
<div class="content" id="content">
    <div id="hotel_container">
        <div class="d-flex justify-content-center">
            <h1>{{ value }}</h1>
        </div>

        <div class="d-flex justify-content-center">
            <h2>{{ city_name }}</h2>
        </div>

        <div class="d-flex justify-content-center">
            <h3>${{ ppn }} per night</h3>
        </div>

        <div class="d-flex justify-content-center">
            <h3>about {{ miles }} miles away</h3>
        </div>

        <div class="d-flex justify-content-center">
            <h3>about {{ time }} hours</h3>
        </div>

        <div class="d-flex justify-content-center">
            <h4>${{ flight_cost }} for round trip flights</h4>
        </div>
        <div class="d-flex justify-content-center">
            <h4><a href="{{ hotel_link }}">Hotel Link</a></h4>
        </div>
        <div class="d-flex justify-content-center">
            <h4><a href="{{ flight_link }}">Flight Link</a></h4>
        </div>
    </div>

    <script type="text/javascript">
        // <![CDATA[
        function loading() {
            document.getElementById("loading").style.display = "block";
        }
        // ]]>
    </script>

    <div class="f-r">
        <form action="/nextoption/" method="POST">
            <button name="next" class="btn btn-secondary" type="submit" onclick="loading();"> --> </button>
        </form>
    </div>

    <div class="f-l">
        <form action="/backoption/" method="POST">
            <button name="back" class="btn btn-secondary" type="submit" onclick="loading();"> <-- </button>
        </form>

    </div>

    <div class="flight-box-departure">
        <div class="d-flex justify-content-center">
            <h4>Departing Flight</h4>
        </div>
        <div class="boarding-pass">
            <div class="card card-top">

                <div class="source">
                    <div class="code">{{ start_airport }}</div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="flight-median">
                        <i class="fas fa-plane"></i>
                    </div>
                </div>
                <div class="destination">
                    <div class="code">{{ end_airport }}</div>
                </div>

                <div class="card card-bottom">
                    <div class="d-flex justify-content-center">
                        <h4>{{ airline }} {{ flight_number }}</h4>

                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="flight-box-return">
        <div class="d-flex justify-content-center">
            <h4>Returning Flight</h4>
        </div>
        <div class="boarding-pass">
            <div class="card card-top">

                <div class="source">
                    <div class="code">{{ end_airport }}</div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="flight-median">
                        <i class="fas fa-plane"></i>
                    </div>
                </div>
                <div class="destination">
                    <div class="code">{{ start_airport }}</div>
                </div>

                <div class="card card-bottom">
                    <div class="d-flex justify-content-center">
                        <h4>{{ return_airline }} {{ return_flight_number }}</h4>

                    </div>


                </div>
            </div>

        </div>
    </div>





</div>



{% endblock %}