{% extends "layout.html" %} {% block title %}
<title>Testing</title> {% endblock %} {% block nav %}
<nav>
    <ul>
        <li style="float: right; margin-top: 20px; padding-right: 16px;"><a href="#">Sign In</a></li>
        <li style="float: right; margin-top: 20px"><a href="/about">About</a></li>
        <li style="float: right; margin-top: 20px;"><a href="/">Home</a></li>
    </ul>
</nav>
{% endblock %} {% block main %}
<h1>{{ value }}</h1>
<h2>{{ city_name }}</h2>
<h3>${{ ppn }} per night</h3>
<h3>{{ miles }} miles away</h3>
<h3>{{ time }} hours</h3>

<form action="/nextoption/" method="POST">
    <button name="next" type="submit"> Next </button>
</form>

{% endblock %}